# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
node_modules

# Build output
dist
dist-ssr
coverage
*.local
.vite/
.turbo/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.history/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.swp
*.swo
*~

# TypeScript
*.tsbuildinfo

# Linting
.eslintcache

# Testing
/cypress/videos/
/cypress/screenshots/
__screenshots__/

# OS
.DS_Store
Thumbs.db
