/* Global Styles */

body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  color: #333333;
  font-family: Arial, sans-serif;
}

/* Prevent color scheme changes based on focus */
:root {
  color-scheme: light;
}

#app {
  width: 100%;
  height: 100vh;
}
